// $color: red;
$white: #fff;
$grey: rgb(17, 17, 17);
$black: #000;

$red: rgb(231, 92, 92);
$red1: red;
$red50: rgba(255, 0, 0, 0.2);

$yellow: rgb(247, 247, 114);

$green: rgb(20, 247, 20);
$green50: rgba(20, 247, 20, 0.2);

$orange: rgb(255, 165, 0);
$orange50: rgba(255, 165, 0, 0.2);
