@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-moz-selection {
  background: rgb(231, 92, 92);
}

::selection {
  background: rgb(231, 92, 92);
}

body {
  background-color: rgb(17, 17, 17);
  color: #fff;
  font-family: "Edu VIC WA NT Beginner", cursive, sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 350px;
  margin: 0 auto;
  text-align: center;
}

form {
  width: 100%;
}
form fieldset {
  padding: 20px;
  border: 2px solid #fff;
}
form fieldset p:first-child {
  padding-bottom: 20px;
}
form fieldset label {
  margin: 5px;
}
form fieldset label input {
  margin-right: 3px;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  font-size: 48px;
  border: 2px solid #fff;
  position: relative;
}
.result p {
  display: inline-block;
}
.result > p:first-child,
.result > p:last-child {
  background-color: rgb(231, 92, 92);
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px;
}
.result > p:first-child {
  position: absolute;
  left: -20px;
}
.result > p:last-child {
  position: absolute;
  right: -20px;
}

.output {
  font-size: 22px;
  margin: 0 auto;
}

.selection {
  width: 100%;
}
.selection button:nth-of-type(1) {
  background: url("../img/button_rock.svg") no-repeat;
  background-size: 60%;
  background-position: center;
}
.selection button:nth-of-type(2) {
  background: url("../img/button_paper.svg") no-repeat;
  background-size: 60%;
  background-position: center;
}
.selection button:nth-of-type(3) {
  background: url("../img/button_scissors.svg") no-repeat;
  background-size: 60%;
  background-position: center;
}
.selection button {
  cursor: pointer;
  margin: 10px;
  width: 70px;
  height: 70px;
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  border-radius: 35px;
}
.selection button:hover {
  border: 3px solid rgb(105, 105, 105);
  box-shadow: 0px 0px 15px grey;
  transition: all 0.05s linear;
}

.makemove {
  width: 100%;
  text-transform: uppercase;
}

a {
  color: rgb(247, 247, 114);
  margin: 0 auto;
}

#roundsOutput {
  font-size: 32px;
}

.small {
  font-size: 12px;
  vertical-align: super;
}

.red {
  border: 3px solid rgba(255, 0, 0, 0.2) !important;
  box-shadow: 0px 0px 15px red !important;
  transition: all 0.2s linear;
}

.orange {
  border: 3px solid rgba(255, 165, 0, 0.2) !important;
  box-shadow: 0px 0px 15px rgb(255, 165, 0) !important;
  transition: all 0.2s linear;
}

.green {
  border: 3px solid rgba(20, 247, 20, 0.2) !important;
  box-shadow: 0px 0px 15px rgb(20, 247, 20) !important;
  transition: all 0.2s linear;
}

.ani {
  animation: ani 0.2s linear reverse;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

@-webkit-keyframes ani {
  0%, 100% {
    position: relative;
    left: 0px;
  }
  25% {
    left: -25px;
  }
  50% {
    left: 0px;
  }
  75% {
    left: 25px;
  }
}

@keyframes ani {
  0%, 100% {
    position: relative;
    left: 0px;
  }
  25% {
    left: -25px;
  }
  50% {
    left: 0px;
  }
  75% {
    left: 25px;
  }
}/*# sourceMappingURL=style.css.map */